* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}
body {
  background: url(../img/background.jpg) no-repeat bottom center scroll; 
  background-size: cover;
  width: 100%;
  height: 150vh;
}

header{
  color: #fff;
  border: 1px solid #000;
  text-align: center;
  background-color: #ecd957;
  width: 100%;
}

.container-area{
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-left: 40px;
  text-align: center;
  margin-top: 5%;
  width: 950px;
  height: 500px;
}
#bracoBill{
  position: absolute;
  left: 170px;
  top: 210px;
}
#pernaBill{
  position: absolute;
  left: 460px;
  top: 470px;
}
#chapeuBill{
  position: absolute;
  width: 100px;
  left: 420px;
  top: -70px;
}
#olhosBill{
  position: absolute;
  width: 100px;
  left: 445px;
  top: 65px;
}

.triangle {
  width: 0;
  height: 0;
  border-left: 450px solid transparent;
  border-right: 450px solid transparent;
  border-bottom: 440px solid #ecd957;
  margin-top: 20px;
}

.triangle #display {
  position: absolute;
  left: 40px;
  margin-top: 140px;
  background-color: rgb(255, 255, 255);
  color: black;
  font-weight: bold;
  height: 40px;
  line-height: 40px;
  width: 240px;
  border: 1px solid #000000;
}

main .container-calculadora{
  display: grid;

  /* 4 botoes com tamanho 55px na coluna */
  grid-template-columns: repeat(4,55px);

  /*4 botoes com tamanho 60px na linha */
  grid-template-rows: repeat(4,60px);

  width: 300px;
  margin-top: -335px;
  margin-left: auto;
  margin-right: auto;
}



main .container-calculadora button {
  margin-left: 40px;
  margin-top: 20px;
  color: #fff;
  border: 1px solid #ffea2d;
  width: 40px;
  height: 40px;
  cursor: pointer;
  border-radius: 50%;
  background-color: rgb(29, 29, 29);
  font-size: 15px;
}
main .container-calculadora button:hover{
  background-color: aliceblue;
  color: black;
  border: 1px solid #11110c;
}

